ul {
    padding: 0;
}

.menu {
    list-style: none;
    width: 100%;
}

.menu > li {
    display: inline-block;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    list-style: none;
    width: 300px;
}
